* {
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: linear-gradient(156deg, rgba(79, 209, 3, 0.603), rgba(255, 255, 0, 0.822)) !important;
}


#logogif{
    height: 121px;
    width: 118px;
    margin: 10px 0px -94px -80px !important;
}

/* -------------------------------- Card Layout Start -------------------------------*/


div.card-content {
    background: white !important;
    padding: 0.5em;
    margin: 44px 0px 1px -8px;
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

div.card-content h4 {
	margin: -46px 0px 26px 176px;
	font-weight: bolder;
    color: green;
}

div.card-content p {
	font-size: 95%;
}

#ride-customer {
  width: 243px;
  height: 184px;
  margin: -30px -903px -40px 804px;
}

#agency-customer{
    width: 243px;
    height: 184px;
    margin: -30px -903px -40px 804px;
}

div a, a:hover {
  text-decoration: none;
}

div a:hover {
  opacity: 0.8;
}